.dashboard-wrapper {
    min-height: calc(100vh - 4.5em);
    background: rgb(238, 238, 238);
    max-width: 100%;

    padding-bottom: 5em;

    h1 {
        font-size: 64px;
        font-weight: 200;
        color: #686868;
    }

    .date-accordion {
        width: 70%;

        &.healthy-acc {
            background-color: rgb(218, 255, 218);

            * {
                color: rgb(1, 73, 1) !important;
            }
        }
    }
}

@media (max-width: 768px) {
    .dashboard-wrapper {
        h1 {
            font-size: 46px;
        }

        .date-accordion {
            width: 90%;
        }
    }
}
